<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Bar</title>
    <link rel="stylesheet" href="style.css">
    <link rel = "icon" href = 
"https://cdn4.iconfinder.com/data/icons/e-commerce-color-line-vol-1/512/INVENTORY_MANAGEMENT-512.png" 
        type = "image/x-icon">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>


        <div class="container">
            
            <header class="header">
                <div class="navbar">
                    <div class="logo" >
                        <h1 style="font-size:40px;">Supply <span>Chain </span>Management <span>System</span>
             
                    </div>
                    <div class="search">
                          <form>
                              <input type="text"  id="search" name="search" placeholeder="search new product"><span><button id="search-btn"  type="submit">Search</button></span>
                          </form>
                    </div>
                </div>
                
                <i class="fas fa-bars" id="bar"></i>
                <i class="fas fa-window-close"  id="cancel"></i>
            </header>
        <div class="home">
            <div class="slider">

                <center>
                    
                    <img src="download.jpg" alt="">
 
                </center> 
                <ul id="ul">
                    
                    <li><a href="http://localhost:3000/profile"><i class="fas fa-users"></i>Profile</a></li>
                    <li><a href="http://localhost:3000/transaction_history"><i class="fas fa-history"></i>Task</a></li>
                    <li><a href="http://localhost:3000/carts"><i class="fas fa-cart-plus"></i>Completed task</a></li>
                  
                    <li id="logout"><a href="http://localhost:3000/logout"><i class="fas fa-sign-out-alt"></i>logout</a></li>
                </ul>
              </div>
              <div class="content">
                  <div class="first">
                      <h3>E‑COMMERCE & RETAIL MARKETING</h3>
                       <h1>Marketing that drives e‑commerce success</h1>
                       <p>Whether you’re getting online for the first time or scaling, Mailchimp has tools and insights to help you sell more stuff.</p>
                       <a href="">Join Us</a>
                  </div>
                  <div class="second">
                       <img src="pexels-photo-5632402.jpeg" alt="">
                  </div>
                
              </div>
             
              </div>


        <!-- ------------------------------------------footer------------------------------------------ -->

        <div class="footer">
            <p>copyrigt 2021 @ Neeraj Yadav and shubham yadav</p>
        </div>



        </div>
 
   
    <script src="interact.js"></script>
</body>
</html>