<!DOCTYPE>
<html len="en">
    <head>
	    <meta charset="UTF-8">
		<meta name="viewport" width="device-width,initial-scale=1.0">
		<title>Supply Chain</title>
		
		<link rel="stylesheet" type="image/icon" href="">
		<link rel="stylesheet" href="home.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" ">
	</head>
	<body>
	    <div class="container">
		    <div class="header">
			    <div class="heading">
				    <h1>Supply Chain Management</h1>
				</div>
				<div class="link">
				    <a href="#About-us">About Us</a>
					<a href="#Contact-us">Contact-us</a>
					<a href="http://localhost:3000/login">Login</a>
                    <a href="http://localhost:3000/register">register</a>
				</div>
			</div>
			
			<div class="section">
				<div class="section-left">
                     <h1>We have something for you</h1>
					 <p>Let's supply product in efficient way</p>
					 <a href="">Join Us</a>
				</div>
				<div class="section-right">
                    <img src="image1.png">
				</div>
			</div>
		</div>
		<div id="About-us" class="footer">
           
			<div class="social-media">
				<a href=""><i class="fab fa-facebook"></i></a>
				<a href=""><i class="fab fa-twitter"></i></a>
				<a href=""><i class="fab fa-instagram-square"></i></a>
				<a href=""><i class="fab fa-linkedin-in"></i></a>
			</div>
            <div class="members">
                <h3>Memebers</h3>
			<hr>
				<p>Neeraj Yadav</p>
				<p>Shubham Yadav</p>
				<p>Faraz Hussain</p>
				<p>Siddjesh Marketkar</p>
			</div>
			<div id="Contact-us" class="contact-us">
				<h2>Contact Us</h2>
				<hr>
				<div class="contact-detail">
				    <i class="fas fa-phone"></i>
					<span>9565439966</span>
				</div>
				<div class="contact-detail">
				    <i class="fas fa-envelope-square"></i>
					<span>ny57227@gmail.com</span>
				</div>
				<div class="contact-detail">
				    <i class="fas fa-map-marker-alt"></i>
					<span>tcet kandiwali E</span>
				</div>
			</div>
		</div>
		<p style="text-align: center;">copyright 2021, supply chain management system</p>
	</body>
</html>